:root {
  --background: #fff
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #222
  }
}

body {
  background-color: var(--background);
}

.video-grid {
  display: flex;
  justify-content: center;
}

.video-grid video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.messages {
  height: 100px;
  overflow-y: scroll;
}